/* CSS for the Ottawa Toggle Block
 * Dave Bagler, 2013 12 06
 */

/* Center the label and display it in all CAPS and bold */
.bean-toggle-block-group .field-name-field--a-label,
.bean-toggle-block-group .field-name-field--b-label {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

/* Center the title and display it as normal text */
.bean-toggle-block-group .field-name-field-b-title,
.bean-toggle-block-group .field-name-title-field {
  text-align: center;
  font-weight: normal !important; /* overriding !important in existing CSS */
  font-size: 100% !important; /* overriding !important in existing CSS */
  line-height: 1.2em;
  margin: 0;
}

.bean-toggle-block-group .field-name-field-toggle-blocks {
  width: 50%;
  float: left;
}

/* Shrink and center the icon */
.bean-toggle-block-group .field-name-field--b-icon,
.bean-toggle-block-group .field-name-field--a-icon {
  width: 50%;
  margin: 0 auto;
}
